{%- assign url = site.baseurl -%}
{%- assign middernacht='now' | date: "%F" -%}
{%- assign activiteiten = site.activiteiten 
  | where_exp: "item", "item.timestamp < middernacht" 
  | sort: "timestamp" 
  | reverse 
  -%}
{%- if activiteiten.size > 0 -%}
  <h2>Beleefd</h2>
  {% for activiteit in activiteiten %}
    {% capture tijdstip %}{% include format/date timestamp=activiteit.timestamp format = site.date_longnames %}{% endcapture %}
    <div class="row">
      <div class="small-12 columns b30">
        <p>{{ tijdstip  | capitalize }}</p>
        <p class="subheadline">{{ activiteit.categories | join: ' &middot; ' | prepend: '<span class="subheader">' | append: '</span>' }}{% if activiteit.categories != empty and activiteit.subheadline != NULL %} – {% endif %}{{ activiteit.subheadline }}</p>
        <h2><a href="{{ url }}{{ activiteit.url }}">{{ activiteit.title }}</a></h2>
        <p>
          {% if activiteit.image.thumb %}<a href="{{ url }}{{ activiteit.url }}" title="{{ activiteit.title | escape_once }}"><img src="{{ site.urlimg }}{{ activiteit.image.thumb }}" class="alignleft" width="150" height="150" alt="{{ page.title | escape_once }}"></a>{% endif %}

          {% if activiteit.meta_description %}{{ activiteit.meta_description | strip_html | escape }}{% elsif activiteit.teaser %}{{ activiteit.teaser | markdownify }}{% endif %}

          <a href="{{ url }}{{ activiteit.url }}" title="{{ site.data.language.read }} {{ activiteit.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
        </p>
      </div><!-- /.small-12.columns -->
    </div>
  {% endfor %}
{%- endif -%}
