---
layout: default
format: post
---
{% if page.image.title %}
<div class="row t30">
	<div class="small-12 columns">
		<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
		{% if page.image.caption_url and page.image.caption %}
		<p class="text-right caption">
			<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
		</p>
		{% endif %}
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}


<div class="row t30">
	<div class="medium-8 columns">
		<article>
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1>{{ page.title }}</h1>
			</header>

			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}

			{{ content }}
		</article>
	</div><!-- /.medium-8.columns -->

		{% if page.sidebar == "left" %}
		<div class="medium-4 columns medium-pull-8">
			{% if page.persoon %}
					{% include persoon %}
			{% endif %}
			{% if page.location %}
					{% include location %}
			{% endif %}
			{% if page.timestamp %}
					{% include tijdstip %}
			{% endif %}
		</div><!-- /.medium-4.columns -->
		{% endif %}

</div><!-- /.row -->
